<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/prapp1138/production-runner-updates/main/appcast.xml</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>PRProjectIcon</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Production Runner Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.productionrunner.project</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Production Runner Project</string>
			<key>UTTypeIdentifier</key>
			<string>com.productionrunner.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>runner</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-productionrunner</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Actor Drag Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.productionrunner.actor-drag-item</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Crew Drag Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.productionrunner.crew-drag-item</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Create Block Drag Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.productionrunner.create-block-drag-item</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Create Board Drag Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.productionrunner.create-board-drag-item</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dashboard App Card</string>
			<key>UTTypeIdentifier</key>
			<string>com.productionrunner.app-card-drag-item</string>
		</dict>
	</array>
</dict>
</plist>
